/* ESTILOS GENERALES */
:root {
  --fondo-color: #7c301b;
  --secundario-color: #224b0c;
  --terciario-color: #c1d5a4;
  --acento-color: #f0f2b6;
}

/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */

@font-face {
  font-family: "Albertson";
  src: url(Albertson.ttf);
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: var(--fondo-color);
  color: white;
}

ul {
  list-style-type: none;
}

.chiche-font {
  font-family: "Albertson", serif;
  letter-spacing: 2px;
  font-size: 25px;
}

.chiche-font a {
  color: whitesmoke;
}

.tamaño-titulo {
  font-size: 2em;
  letter-spacing: 3px;
}

/* INICIO */
/* nav */
.nav-principal {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

/* hero */
.hero-img {
  height: 75vh;
}

.img-control {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-texto {
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 4px;
  left: 10%;
}

.hero-titulo {
  font-size: 4.5em;
  letter-spacing: 4px;
  text-shadow: black 0 0 10px;
  margin: 0;
}

.hero-parrafo {
  font-size: 1.3em;
  font-weight: 300;
  text-shadow: 1px 1px 5px black, 0 0 8px black;
  margin: 12px 0 8px 0;
}

.boton {
  background-color: var(--secundario-color);
  border: 1px solid var(--terciario-color);
  padding: 0;
  font-family: "Lato";
  border-radius: 5px;
}

.boton a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  display: inline-block;
  margin: 0;
}

.boton a:hover {
  color: black;
  background-color: var(--terciario-color);
  border-color: var(--secundario-color);
  border-radius: 5px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.chiche {
  border: #f0f2b6 solid;
  color: black;
  background-image: url(img/fondo.png);
  margin: 20px 50% 20px 10px;
  font-size: 150%;
  border-radius: 5px;
}
.chiche h1 {
  font-family: "Albertson";
  text-align: center;
  color: black;
  text-shadow: whitesmoke 0 0 30px;
}

/*ESTILOS DE MENU*/

.summer h1 {
  font-family: "Albertson";
  font-size: 4em;
  font-weight: 300;
  text-shadow: 1px 1px 5px black, 0 0 8px black;
}
.summer img {
  width: 100%;
  height: 100%;  
}
 .chiche-menu h2{
    font-family: "Albertson";
    color: black;
    letter-spacing: 4px;
    font-size: 3.5em;
    text-shadow: whitesmoke 0 0 20px;
    text-align: center;
  }

  .img-1{
    border:  #000000 5px solid;
    margin: 0 20px 10px 5px;
  }
  .img-2{
    border:  #000000 5px solid;
    margin: 0 20px 10px 5px;
  }

  .img-3{
    border:  #000000 5px solid;
    margin: 0 20px 10px 5px;
  }

