/* ESTILOS GENERALES */
:root {
  --fondo-color: #7c301b;
  --secundario-color: #224b0c;
  --terciario-color: #c1d5a4;
  --acento-color: #f0f2b6;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@font-face {
  font-family: "Albertson";
  src: url(Albertson.ttf);
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  background-color: var(--fondo-color);
  color: white;
}

ul {
  list-style-type: none;
}

.chiche-font {
  font-family: "Albertson", serif;
  letter-spacing: 1px;
}

.tamaño-titulo {
  font-size: 2em;
  letter-spacing: 3px;
}

/* INICIO */
/* nav */
.nav-principal {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

/* hero */
.hero-img {
  height: 75vh;
}

.img-control {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-texto {
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 4px;
  left: 10%;
}

.hero-titulo {
  font-size: 3.5em;
  letter-spacing: 4px;
  text-shadow: black 0 0 10px;
  margin: 0;
}

.hero-parrafo {
  font-size: 1.2em;
  font-weight: 100;
  text-shadow: black 0 0 10px;
  margin: 16px 0 8px 0;
}

.boton {
  background-color: var(--secundario-color);
  border: 1px solid var(--terciario-color);
  padding: 0;
}

.boton a {
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  display: inline-block;
  margin: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
